@media only screen and (max-width: 1280px) {
    .mobile-menu {
        display: flex;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        overflow-x: auto;
        position: fixed;
        top: 0;
        right: 100%;
        background-color: var(--main-bg-color);
        z-index: 99;
        transition: right 0.3s ease-in-out;
    }

    .header-wrapper.active {
        right: 0;
    }

    .logo {
        font-size: 30px;
    }

    .mb-menu-close {
        display: block;
        position: absolute;
        right: 43px;
        top: 18px;
        z-index: 99;
        font-size: 25px;
    }

    .top-header {
        display: none;
    }

    .mid-header {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        height: unset;
    }

    .mid-header > * {
        margin-top: 15px;
    }

    .search {
        width: 100%;
    }

    .bottom-header {
        justify-content: flex-start;
    }

    .main-menu {
        flex-direction: column;
        height: unset;
    }

    .main-menu a {
        padding: 10px 0;
    }


    .main-section {
    height: calc(
        80vh -
            (
                var(--top-header-size) + var(--mid-header-size) +
                    var(--bottom-header-size)
            )
        );
    }

    .slide {
        flex-direction: column-reverse;
    }

    .slide .img img {
        padding-top: 25%;
    }

    .slide .info{
        width: 100%;
    }

    .slide .img {
        width: 90%;
    }

    .slide > .img > img {
        max-width: 300px;
    }

    .info-content p {
        display: none;
    }

    .info-content button {
        margin-top: unset;
    }

    .product-btn {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        position: relative;
        margin-bottom: 20px;
    }

}


@media only screen and (max-width: 750px) {
    .hero {
        height: calc(
            70vh -
                (
                    var(--top-header-size) + var(--mid-header-size) +
                        var(--bottom-header-size)
                )
        );
    }

    .info-content h2 {
        margin: unset;
        font-size: 40px;
    }

    .payment {
        padding-top: 45px;
    }

    .payment-box {
        height: unset;
    }
}