 @media only screen and (max-width: 975px) {
   .mobile-menu {
        display: flex;
    }

    .mobile-menu a span {
        color: var(--green)
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        overflow-x: auto;
        position: fixed;
        top: 0;
        right: 100%;
        background-color: var(--main-bg-color);
        z-index: 99;
        transition: right 0.3s ease-in-out;
    }

    .header-wrapper.active {
        right: 0;
    }

    .logo {
        font-size: 30px;
    }

    .mb-menu-close {
        display: block;
        position: absolute;
        right: 43px;
        top: 18px;
        z-index: 99;
        font-size: 25px;
    }

    .top-header {
        display: none;
    }

    .mid-header {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        height: unset;
    }

    .mid-header > * {
        margin-top: 15px;
    }

    .search {
        width: 100%;
    }

    .bottom-header {
        justify-content: flex-start;
    }

    .main-menu {
        flex-direction: column;
        height: unset;
    }

    .main-menu a {
        padding: 10px 0;
    }

    .main-section {
        height: calc(
            105vh -
                (
                    var(--top-header-size) + var(--mid-header-size) +
                        var(--bottom-header-size)
                )
        );
        margin-bottom: 60px;
    }

    .slide {
        flex-direction: column-reverse;
    }

    .slide > .info,
    .slide > .img {
        width: 100%;
    }

    .slide > .img > img {
        max-width: 300px;
        max-height: 300px;
    }

    .info-content p {
        display: none;
    }

    .info-content button {
        margin-top: unset;
    }


    .product-btn {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        position: relative;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 750px) {
    .main-section {
        height: calc(
            100vh -
                (
                    var(--top-header-size) + var(--mid-header-size) +
                        var(--bottom-header-size)
                )
        );
        margin-bottom: 60px;
    }

    .info-content h2 {
        margin: unset;
        font-size: 40px;
    }

    .payment {
        padding: 0;
    }

    .payment-box {
        height: unset;
    }
}


@media only screen and (max-width: 423px) {
    .main-section {
        height: calc(
            112vh -
                (
                    var(--top-header-size) + var(--mid-header-size) +
                        var(--bottom-header-size)
                )
        );
    }
    

    .info-content h2 {
        margin: unset;
        font-size: 50px;
    }


    .payment {
        padding-top: 5px;
    }

    .payment-box {
        height: unset;
    }
}

@media only screen and (max-width: 320px) {
    .main-section {
        height: calc(
            130vh -
                (
                    var(--top-header-size) + var(--mid-header-size) +
                        var(--bottom-header-size)
                )
        );
    }
    

    .info-content h2 {
        margin: unset;
        font-size: 50px;
    }


    .payment {
        padding-top: 5px;
    }

    .payment-box {
        height: unset;
    }

    .payment img {
        display: none;
    }
}





@media only screen and (min-width: 1024px) and (min-height: 1366px) {
  .section-contact form{
    width: 120%;
  }
}


@media only screen and (max-width: 1098px) {
  .section-contact {
    padding: 8rem 8rem;
  }

  .section-contact form {
    width: 120%;
  }

  .section-contact form a{
    padding: .8rem 1.5rem;
  }
}

@media only screen and (max-width: 960px) {
  .section-contact .row {
    grid-template-columns: 1fr;
    gap: 5rem 0;
  }

  .section-contact form div {
    width: 100%;
  }
}

@media only screen and (max-width: 567px) {
  .section-contact {
    padding: 8rem 2rem;
  }

    .section-contact form {
    width: 100%;
  }
}

@media only screen and (max-width: 390px) {
  .section-contact form a{
    padding: .8rem 2rem;
  }
}

@media only screen and (max-width: 320px) {

    .section-contact {
    padding: 3rem 4rem;
  }
  .section-contact form a{
    padding: .7rem .8rem;
  }

    .section-contact form {
    width: 110%;
  }
    .section-contact form input{
    font-size: 12px;
  }

  .section-header h2 {
      font-size: 30px
  }
}


/* Sign In and Sign Up */
@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}