 @media only screen and (max-width: 975px) {
   .mobile-menu {
        display: flex;
    }

    .mobile-menu a span {
        color: var(--green)
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        overflow-x: auto;
        position: fixed;
        top: 0;
        right: 100%;
        background-color: var(--main-bg-color);
        z-index: 99;
        transition: right 0.3s ease-in-out;
    }

    .header-wrapper.active {
        right: 0;
    }

    .logo {
        font-size: 30px;
    }

    .mb-menu-close {
        display: block;
        position: absolute;
        right: 43px;
        top: 18px;
        z-index: 99;
        font-size: 25px;
    }

    .top-header {
        display: none;
    }

    .mid-header {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        height: unset;
    }

    .mid-header > * {
        margin-top: 15px;
    }

    .search {
        width: 100%;
    }

    .bottom-header {
        justify-content: flex-start;
    }

    .main-menu {
        flex-direction: column;
        height: unset;
    }

    .main-menu a {
        padding: 10px 0;
    }

    .main-section {
        height: calc(
            105vh -
                (
                    var(--top-header-size) + var(--mid-header-size) +
                        var(--bottom-header-size)
                )
        );
        margin-bottom: 60px;
    }

    .slide {
        flex-direction: column-reverse;
    }

    .slide > .info,
    .slide > .img {
        width: 100%;
    }

    .slide > .img > img {
        max-width: 300px;
        max-height: 300px;
    }

    .info-content p {
        display: none;
    }

    .info-content button {
        margin-top: unset;
    }

    .register-product {
      flex-wrap: wrap;
    }

    .register-product-img,
    .register-product-info {
      width: 100%;
    }


    .product-btn {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        position: relative;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 750px) {
    .main-section {
        height: calc(
            100vh -
                (
                    var(--top-header-size) + var(--mid-header-size) +
                        var(--bottom-header-size)
                )
        );
        margin-bottom: 60px;
    }

    .info-content h2 {
        margin: unset;
        font-size: 40px;
    }

    .payment {
        padding: 0;
    }

    .payment-box {
        height: unset;
    }

    .register-product {
      flex-wrap: wrap;
    }

    .register-product-img,
    .register-product-info {
      width: 100%;
    }
}


@media only screen and (max-width: 423px) {
    .main-section {
        height: calc(
            112vh -
                (
                    var(--top-header-size) + var(--mid-header-size) +
                        var(--bottom-header-size)
                )
        );
    }
    

    .info-content h2 {
        margin: unset;
        font-size: 50px;
    }


    .payment {
        padding-top: 5px;
    }

    .payment-box {
        height: unset;
    }
}

@media only screen and (max-width: 320px) {
    .main-section {
        height: calc(
            130vh -
                (
                    var(--top-header-size) + var(--mid-header-size) +
                        var(--bottom-header-size)
                )
        );
    }
    

    .info-content h2 {
        margin: unset;
        font-size: 50px;
    }


    .payment {
        padding-top: 5px;
    }

    .payment-box {
        height: unset;
    }

    .payment img {
        display: none;
    }
}





@media only screen and (min-width: 1024px) and (min-height: 1366px) {
  .section-contact form{
    width: 120%;
  }
}


@media only screen and (max-width: 1098px) {
  .section-contact {
    padding: 8rem 8rem;
  }

  .section-contact form {
    width: 120%;
  }

  .section-contact form a{
    padding: .8rem 1.5rem;
  }
}

@media only screen and (max-width: 960px) {
  .section-contact .row {
    grid-template-columns: 1fr;
    gap: 5rem 0;
  }

  .section-contact form div {
    width: 100%;
  }
}

@media only screen and (max-width: 567px) {
  .section-contact {
    padding: 8rem 2rem;
  }

    .section-contact form {
    width: 100%;
  }
}

@media only screen and (max-width: 390px) {
  .section-contact form a{
    padding: .8rem 2rem;
  }
}

@media only screen and (max-width: 320px) {

    .section-contact {
    padding: 3rem 4rem;
  }
  .section-contact form a{
    padding: .7rem .8rem;
  }

    .section-contact form {
    width: 110%;
  }
    .section-contact form input{
    font-size: 12px;
  }

  .section-header h2 {
      font-size: 30px
  }
}


