:root {
    --main-bg-color: #fff;
    --second-bg-color: #f5f5f5;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --black: #000;
    --red: #c0392b;
    --top-header-size: 30px;
    --mid-header-size: 80px;
    --bottom-header-size: 45px;
    --btn-bg: #000;
    --btn-border-color: #000;
    --btn-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--main-bg-color);
}

button {
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1366px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}

.bg-second {
    background-color: var(--second-bg-color);
}

.bg-main {
    background-color: var(--main-bg-color);
}

.mobile-menu {
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    display: none;
}

.mb-menu-close {
    display: none;
}


.mid-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--main-bg-color);
}

.logo {
    font-size: 40px;
    font-weight: 700;
}

.logo span {
    color: #63dc3e;
}

.mb-logo {
    font-size: 25px;
    font-weight: 700;
}

.search {
    width: 600px;
    height: 40px;
    position: relative;
}

.search input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    outline: 0;
    padding: 0 20px;
    border-radius: 10px;
    border: 0;
    background-color: var(--second-bg-color);
}

.search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    font-size: 25px;

    transition: all ease-in-out .2s;
}

.search i:hover {
    color: #63dc3e;
}

.user-menu {
    display: flex;
    
}

.user-menu i {
    transition: all ease-in-out .2s;
}

.user-menu i:hover {
    color: #63dc3e;
}

.user-menu > li > a {
    font-size: 30px;
    margin-left: 15px;
}

.bottom-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu {
    display: flex;
    height: var(--bottom-header-size);
}

.main-menu > li > a {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-weight: 600;
    height: 100%;
    text-transform: uppercase;
}


.main-menu > li:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #63dc3e;
    transition: width .3s;
}

.main-menu > li:hover:after {
    width: 100%;
    transition: width .3s;
}


.box {
    padding: 20px;
}

.main-section {
    height: calc(
        100vh -
            (
                var(--top-header-size) + var(--mid-header-size) +
                    var(--bottom-header-size)
            )
    );

    padding: 20px;
}


.slider,
.slider .container {
    height: 100%;
    position: relative;
}

.slide {
    height: 0;
    position: absolute;
    display: flex;
    inset: 0;
    overflow: hidden;
    visibility: hidden;
}

.active {
    visibility: visible;
    overflow: visible;
    height: 100%;
}

.slide .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.info-content h2 {
    font-size: 50px;
    margin: 10px 0 35px;
}

.info-content button {
    margin-top: 30px;
}

.slide .img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide .img img {
    height: 35rem;
    margin-top: 10%;
}


.btn-flat {
    display: inline-block;
    border: 2px solid var(--btn-border-color);
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 15px 35px;
    font-size: 15px;
    outline: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-hover {
    transition: all 0.3s ease-in-out;
}

.btn-hover:hover {
    background-color: var(--btn-color);
    color: #63dc3e;
    border: 2px solid #63dc3e;
}





.payment {
    padding: 8rem 1rem 0 1rem;

}

.payment [class*="col-"] {
    padding: 15px;
}

.payment-box {
    display: flex;
    background-color: var(--second-bg-color);
    position: relative;
    justify-content: center;
    align-items: center;
}

.payment-box .text {
    flex-grow: 1;
    padding: 20px;
}

.payment-box .text h3 {
    font-size: 20px;
}

.payment-box .text button {
    margin-top: 20px;
}

.payment-box img {
    width: 150px;
    padding-right: 1rem;

    transition: transform 0.3s ease-in-out;
}

.payment-box:hover img {
    transform: scale(1.1);
}

.payment .btn-hover:hover {
    background-color: var(--second-bg-color);
    color: #63dc3e;
    border: 2px solid #63dc3e;
}






.section-header {
    text-align: center;
    margin: 80px 0 70px;
    text-transform: uppercase;
}

.section-header h2 {
    font-size: 40px;
}

.product-card {
    background-color: var(--main-bg-color);
    transition: all 0.3s ease-in-out;
}

.product-card:hover {
    background-color: var(--second-bg-color);
}

.product-card-img {
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-img img {
    max-height: 100%;
    transition: all 0.3s ease-in-out;
}

.product-card-img img:nth-child(2) {
    display: none;
}

.product-card:hover .product-card-img img:nth-child(1) {
    display: none;
}

.product-card:hover .product-card-img img:nth-child(2) {
    display: block;
}

.product-card-info {
    padding: 20px;
    text-align: center;
    position: relative;
}

.product-card-name {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-card-price {
    font-size: 15px;
}

.product-card-price .curr-price {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #63dc3e;
}

.product-btn {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
}

.product-card:hover .product-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.product-btn > * ~ * {
    margin-left: 5px;
}

.btn-shop-now,
.btn-cart-add {
    font-size: 15px;
    padding: 5px 10px;
    line-height: 17px;
}


.section-contact {
    background-color: #63dc3e;
    color: #FFF;
    padding: 2rem 10rem;
    margin-top: 5rem;
}

.section-contact .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.section-contact .row .col h2 {
    margin-bottom: 1.5rem;
}

.section-contact .row .col p {
    width: 90%;

}

.section-contact form div {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.section-contact form input {
    text-indent: 2rem;
    width: 100%;
    border-radius: 1rem;
    padding: 1.5rem 0;
    outline: none;
    border: none;
    font-size: 16px;
}

.section-contact form a {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #63dc3e;
    color: #fff;
    margin: 0.5rem;
    padding: .8rem 3rem;
    border-radius: 1rem;
}


footer {
    margin-top: 5rem;
    padding: 100px 0;
}


.footer-head {
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer ul li {
    margin-bottom: 10px;
}

.copyright-text {
    padding: 1rem;
    text-align: center;
}

.copyright-text a {
    color: #63dc3e;
    font-weight: bold;
}






